body {
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
  box-sizing: border-box;
}
.image-background {
  position: relative;
  width: 100%;
}
.container {
  background-color: hsl(225, 100%, 98%);
  border-radius: 15px;
  margin: 0 auto;
  width: 350px;
  height: 580px;
  position: absolute;
  top: 80px;
  left: 37%;
}
.image-container {
  border-radius: 10px;
  margin: 0 auto;
  width: 350px;
  height: 150px;
  top: 10%;
}
.image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 350px;
  height: 150px;
}
.text-container {
  text-align: center;
  margin-top: 40px;
}
.text-container h1 {
  color: hsl(223, 47%, 23%);
  margin: 0 auto;
  width: 300px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
.text-container p {
  color: hsl(224, 23%, 55%);
  padding: 0 auto;
  margin: 0 auto;
  font-size: 16px;
}
.float-container {
  display: flex;
  padding: 35px;
  gap: 20px;
  height: 40px;
}
.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(229, 100%, 97%);
  border-radius: 10px;
  width: 100%;
  height: 80px;
}
.box .span-plan{
    width: px;
}
.box .span-plan p{
    width: 100px;

}
.box .span-plan p span{
    font-weight: bold;
    color: hsl(223, 47%, 23%);
}
.box a{
    color: hsl(245, 75%, 52%);
    font-weight: 900;
    font-size: 12px;
}
.box .span-plan p {
    padding-right: 60px;
    font-size: 16px;
}
.box .span-plan .year{
    color: hsl(224, 23%, 55%);
    font-weight: normal;
    padding-right: 10px;
    margin-bottom: 40px;
}
.rec{
    background-color: hsl(245, 75%, 52%);
    border-radius: 8px;
    width: 80%;
    height: 39px;
    position:absolute;
    bottom: 15%;
    box-shadow: 0 15px 30px hsl(231, 11%, 75%);
}
.rec p{
    color:  hsl(225, 100%, 98%);
    font-weight: bold;
    padding: 3.8%;
}
.order{
    color: hsl(224, 23%, 55%);
    font-weight: bold;
    position: absolute;
    font-size: 12px;
    bottom: 15%;

}